# 1. 조건문 예제

## 1.1 짝수와 홀수 판별기기

In [1]:
number = int(input("정수를 입력하세요 (0 ~ 100) : "))

if number % 2 == 0:
    print(f"{number}은(는) 짝수 입니다.")
else:
    print(f"{number}은(는) 홀수 입니다.")

정수를 입력하세요 (0 ~ 100) :  12

12은(는) 짝수 입니다.

## 1.2 성적에 따른 학점 출력

In [3]:
# 점수를 입력받아 학점을 출력
score = int(input("점수를 입력하세요 (0 ~ 100) : "))

if score >= 90:
    print("A학점 입니다.")
elif score >= 80:
    print("B학점 입니다.")
elif score >= 70:
    print("C학점 입니다.")
elif score >= 60:
    print("D힉점 입니다.")
else:
    print("F학점 입니다.")

점수를 입력하세요 (0 ~ 100) :  68

D힉점 입니다.

## 1.3 로그인 시스템

In [7]:
# 간단한 로그인 시스템
user_id = "admin"
user_pw = "1234"

input_id = input("사용자 아이디를 입력하세요 : ")
input_pw = input("사용자 비밀번호를 입력하세요 : ")

if user_id == input_id:
    if user_pw == input_pw:
        print('로그인 성공!')
    else:
        print('비밀번호가 틀립니다.')
else:
    print('등록된 사용자 아이디가 틀립니다.')

사용자 아이디를 입력하세요 :  admin
사용자 비밀번호를 입력하세요 :  1234

로그인 성공!

In [9]:
# 간단한 로그인 시스템
user_id = "admin"
user_pw = "1234"

input_id = input("사용자 아이디를 입력하세요 : ")
input_pw = input("사용자 비밀번호를 입력하세요 : ")

if user_id == input_id and user_pw == input_pw:
    print('로그인 성공!')
else:
    print('등록된 사용자 아이디 또는 비밀번호가 틀립니다.')

사용자 아이디를 입력하세요 :  cdmin
사용자 비밀번호를 입력하세요 :  5678

등록된 사용자 아이디 또는 비밀번호가 틀립니다.

# 2. 반복문 예제

## 2.1 1부터 10까지 출력 (for문)

In [27]:
for i in range(1, 11, 1): # (초기값, 목표값 + 1, 증감값)
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [28]:
for i in range(1, 11, 2): # (초기값, 목표값 + 1, 증감값)
    print(i, end=" ")

1 3 5 7 9

In [25]:
text_list = [ 'a', 'b', 'c', 'd' ]

for txt in text_list:
    print(txt, end=" ")

a b c d

## 2.2 특정 구구단 출력

In [38]:
# 사용자로부터 구구단 단수를 입력받아 출력
dan = int(input("출력 할 구구단의 단수를 입력하세요 : "))

for i in range(1, 10):
    print(f'{dan} X {i} = {dan * i}')

출력 할 구구단의 단수를 입력하세요 :  2

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

## 2.3 리스트 요소 출력

In [39]:
# 리스트에 저장된 과일 이름 출력
fruits = [ "사과", "바나나", "포도", "오렌지" ]

for fruit in fruits:
    print(fruit)

사과
바나나
포도
오렌지

## 2.4 for문 사용해서 1 ~ 100까지 합계 구하기

In [42]:
sum = 0

for i in range(1, 101):
    sum = sum + i

print('합계 : ', sum)

합계 :  5050

## 2.5 while문을 사용해서 1 ~ 100까지 합계 구하기

In [11]:
# while문에서 break 사용 예제
tot = 0
cnt = 0

while True:
    if cnt > 99:
        break
        
    cnt = cnt + 1
    tot = tot + cnt

print('합계 = ', tot)

합계 =  5050

In [5]:
# while문 사용 예제
tot = 0
cnt = 0
while cnt < 100:
    cnt = cnt + 1
    tot = tot + cnt
print('합계 = ', tot)

합계 =  5050

In [3]:
# while문 사용 예제
tot = 0
cnt = 0

while cnt < 100:
    cnt = cnt + 1
    tot = tot + cnt

print(f'1부터 {cnt}까지의 합은 {tot}입니다.')

1부터 100까지의 합은 5050입니다.

## 2.6 continue 사용 예제

In [7]:
# 1 부터 10까지 출력하는데 홀수만 출력하시오.

for i in range(1, 11):
    if i % 2 == 1:
        continue
    print(i)

2
4
6
8
10

## 2.7 별 출력 프로그램

In [10]:
print('*' * 10)

**********

In [11]:
# 사용자로부터 숫자를 입력받아서 해당 숫자만큼 별을 출력

n = int(input("출력할 줄 수를 입력하세요 : "))

for i in range(1, n+1):
    print('*' * i)

출력할 줄 수를 입력하세요 :  10

*
**
***
****
*****
******
*******
********
*********
**********

## 2.8 숫자 피라미드 만들기

In [33]:
n = int(input("피라미드의 높이를 입력하세요 : "))

for i in range(1, n + 1):
    for j in range(1, i+1):
        print(j, end=" ")
    print()

피라미드의 높이를 입력하세요 :  10

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

## 2.9 구구단 만들기

In [25]:
for i in range(1, 10, 3):
    print(f'\n  {i} 단             {i+1} 단                  {i+2} 단')
    for j in range(1, 10):
        print(f' {i} X {j} = {i * j}          {i+1} X {j} = {(i+1) * j}             {i+2} X {j} = {(i+2) * j}')

  1 단             2 단                  3 단
 1 X 1 = 1          2 X 1 = 2             3 X 1 = 3
 1 X 2 = 2          2 X 2 = 4             3 X 2 = 6
 1 X 3 = 3          2 X 3 = 6             3 X 3 = 9
 1 X 4 = 4          2 X 4 = 8             3 X 4 = 12
 1 X 5 = 5          2 X 5 = 10             3 X 5 = 15
 1 X 6 = 6          2 X 6 = 12             3 X 6 = 18
 1 X 7 = 7          2 X 7 = 14             3 X 7 = 21
 1 X 8 = 8          2 X 8 = 16             3 X 8 = 24
 1 X 9 = 9          2 X 9 = 18             3 X 9 = 27

  4 단             5 단                  6 단
 4 X 1 = 4          5 X 1 = 5             6 X 1 = 6
 4 X 2 = 8          5 X 2 = 10             6 X 2 = 12
 4 X 3 = 12          5 X 3 = 15             6 X 3 = 18
 4 X 4 = 16          5 X 4 = 20             6 X 4 = 24
 4 X 5 = 20          5 X 5 = 25             6 X 5 = 30
 4 X 6 = 24          5 X 6 = 30             6 X 6 = 36
 4 X 7 = 28          5 X 7 = 35             6 X 7 = 42
 4 X 8 = 32          5 X 8 = 40             6 X 8 = 48
 4 X 9 = 36          5 X 9 = 45             6 X 9 = 54

  7 단             8 단                  9 단
 7 X 1 = 7          8 X 1 = 8             9 X 1 = 9
 7 X 2 = 14          8 X 2 = 16             9 X 2 = 18
 7 X 3 = 21          8 X 3 = 24             9 X 3 = 27
 7 X 4 = 28          8 X 4 = 32             9 X 4 = 36
 7 X 5 = 35          8 X 5 = 40             9 X 5 = 45
 7 X 6 = 42          8 X 6 = 48             9 X 6 = 54
 7 X 7 = 49          8 X 7 = 56             9 X 7 = 63
 7 X 8 = 56          8 X 8 = 64             9 X 8 = 72
 7 X 9 = 63          8 X 9 = 72             9 X 9 = 81

# 원 그리기

In [26]:
import turtle

In [27]:
t = turtle.Turtle()
t.circle(100)        # 반지름이 100인 원을 그려라
t.left(60)          # 각도를 왼쪽으로 60도만큼 회전

t.circle(100)        # 반지름이 100인 원을 그려라
t.left(60)          # 각도를 왼쪽으로 60도만큼 회전

t.circle(100)        # 반지름이 100인 원을 그려라
t.left(60)          # 각도를 왼쪽으로 60도만큼 회전

t.circle(100)        # 반지름이 100인 원을 그려라
t.left(60)          # 각도를 왼쪽으로 60도만큼 회전

t.circle(100)        # 반지름이 100인 원을 그려라
t.left(60)          # 각도를 왼쪽으로 60도만큼 회전

t.circle(100)        # 반지름이 100인 원을 그려라
t.left(60)          # 각도를 왼쪽으로 60도만큼 회전

turtle.exitonclick()

In [1]:
import turtle
t = turtle.Turtle()

for _ in range(6):
    t.circle(100)        # 반지름이 100인 원을 그려라
    t.left(60)          # 각도를 왼쪽으로 60도만큼 회전

turtle.exitonclick()

# n 각형 그리기
- 사용자로부터 정수 n (3 이상) 을 입력받아서 한 변의 길이가 100인 정 n각형을 그리는 
  프로그램을 작성하시오.

In [14]:
# 별을 그리는 프로그램을 작성하시오

import turtle
import time
t = turtle.Turtle()

#n = int(input("3 이상 정수를 입력하세요 : "))

for _ in range(5):
    time.sleep(1)
    t.forward(200)
    t.left((360 / 5)*2)

t.right(77)
t.circle(100)

turtle.exitonclick()

del t
try:
    turtle.bye()
except:
    pass