In [1]:
# 튜플은 프로그램이 시작되면 내용을 변경 할 수 없음
# 중요 개인정보를 데이터 처리할 때 사용

leg_day = ( '스쿼트', '런지', '레그컬' )
leg_day

('스쿼트', '런지', '레그컬')

In [2]:
leg_day[0]

'스쿼트'

In [3]:
leg_day[0] = '벤치프레스'

TypeError: 'tuple' object does not support item assignment

In [4]:
leg_day.append('숄더프레스')

AttributeError: 'tuple' object has no attribute 'append'

In [5]:
del leg_day[0]

TypeError: 'tuple' object doesn't support item deletion

In [6]:
# 딕셔너리 { key : value }

stock_prices = {
    '삼성전자':60000,
    'SK하이닉스':140000,
    '네이버':350000
}

stock_prices

{'삼성전자': 60000, 'SK하이닉스': 140000, '네이버': 350000}

In [7]:
stock_prices['삼성전자']

60000

In [8]:
stock_prices['카카오']

KeyError: '카카오'

In [14]:
for key_value in stock_prices:
    print(key_value)

삼성전자
SK하이닉스
네이버

In [11]:
for key in stock_prices.keys():
    print(key)

삼성전자
SK하이닉스
네이버

In [12]:
for value in stock_prices.values():
    print(value)

60000
140000
350000

In [13]:
for key, value in stock_prices.items():
    print(key, value)

삼성전자 60000
SK하이닉스 140000
네이버 350000

In [1]:
# key 별 주가를 더해서 평균 주가 프린트 - sum(), len()

stock_prices = {
    '삼성전자':[60000, 61000, 62000],
    'SK하이닉스':[140000, 141000, 150000],
    '네이버':[350000, 355000, 360000]
}

for key, value in stock_prices.items():
    avg = sum(value) / len(value)
    print(f'{key} 평균 주가 {int(avg)}')

삼성전자 평균 주가 61000
SK하이닉스 평균 주가 143666
네이버 평균 주가 355000

In [31]:
# 각 회사별로 주가의 최고가와 최저가를 구하시오.
stock_prices = {
    '삼성전자':{'최고가':80000, '최저가':61000, '현재가':62000},
    'SK하이닉스':{'최고가':160000, '최저가':141000, '현재가':150000},
    '네이버':{'최고가':400000, '최저가':305000, '현재가':360000}
}

for key, value in stock_prices.items():
    print(f'{key} - 최고가 : {value["최고가"]}, 최저가 : {value["최저가"]}')

삼성전자 - 최고가 : 80000, 최저가 : 61000
SK하이닉스 - 최고가 : 160000, 최저가 : 141000
네이버 - 최고가 : 400000, 최저가 : 305000

In [30]:
for key, value in stock_prices.items():
    max_value = value["최고가"]
    min_value = value["최저가"]
    print(f'{key} - 최고가 : {value["최고가"]}, 최저가 : {value["최저가"]}')

삼성전자 - 최고가 : 80000, 최저가 : 61000
SK하이닉스 - 최고가 : 160000, 최저가 : 141000
네이버 - 최고가 : 400000, 최저가 : 305000